<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUGAS</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>CATATAN TUGAS</h1>

        <div class="card-deck" style="width: auto;">
            <div class="card">
                <h3 class="card-title">TO DO LIST</h3> <br>

                <ul class="list-group" v-for="(listKegiatan, index) in listKegiatan" :key="index" style="margin-bottom: 2%;">
                    <li class="list-group-item" >
                        <button class="btn btn-outline-danger btn-sm float-right" @click="hapus(index)">hapus</button> 
                        <div v-if="listKegiatan.prioritas=='Penting'" style="margin-bottom: 2%; text-align: center;">
                            <p class="card-text text-danger" ><strong>{{ listKegiatan.prioritas }}</strong></p>
                        </div>
                        <div v-else-if="listKegiatan.prioritas=='Biasa'" style="margin-bottom: 2%; text-align: center;">
                            <p class="card-text text-warning"><strong>{{ listKegiatan.prioritas }}</strong></p>
                        </div>
                        <div v-else-if="listKegiatan.prioritas=='Tidak Penting'" style="margin-bottom: 2%; text-align: center;">
                            <p class="card-text text-success"><strong>{{ listKegiatan.prioritas }}</strong></p>
                        </div>
                        <h5 class="card-subtitle mb-2">{{ listKegiatan.namaKeg}}</h5>
                        <p style="white-space: pre-line;" class="card-text">{{ listKegiatan.catatan }}</p>
                    </li>
                </ul>
            </div>

            <div class="card" style="height: fit-content;">
                <h3 class="card-title">INPUT KEGIATAN</h3> <br>

                <div>
                    <div class="form-group row">
                        <label class="col-md-3">Nama To-Do</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="kegiatan.namaKeg" placeholder="Nama To-Do"/>
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                        <label class="col-md-3">Prioritas</label>
                            <div class="col-sm-8" >
                                <select v-model="kegiatan.prioritas" class="form-control">
                                    <option disabled value="">Pilih prioritasmu untuk tugas ini</option>
                                    <option>Penting</option>
                                    <option>Biasa</option>
                                    <option>Tidak Penting</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label class="col-md-3">Catatan</label>
                        <div class="col-sm-8">
                            <textarea type="text" class="form-control" v-model="kegiatan.catatan" placeholder="Catatan"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="btn btn-secondary btn-lg" @click="cancel">CANCEL</button>
                        <button type="submit" class="btn btn-primary btn-lg" @click="submit">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>

        <footer>{{sevia.nama}} || {{sevia.npm}} || {{sevia.kelas}}</footer>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data:{
            namaKeg:"",
            kegiatan:{
                namaKeg:"",
                prioritas:"",
                catatan:"",
            },
            sevia: {
                nama: 'Sevia Berliana W.',
                npm: '180709593',   
                kelas: 'D',
            },
            listKegiatan:[

            ],
        },
        methods: {
            submit(){
                var newKegiatan = {
                    namaKeg : this.kegiatan.namaKeg,
                    prioritas : this.kegiatan.prioritas,
                    catatan : this.kegiatan.catatan
                };
                this.listKegiatan.push(newKegiatan);
                this.kegiatan.namaKeg="",
                this.kegiatan.prioritas="",
                this.kegiatan.catatan=""
            },
            cancel(){
                this.kegiatan.namaKeg="",
                this.kegiatan.prioritas="",
                this.kegiatan.catatan=""
            },
            hapus(index){
                this.listKegiatan.splice(index,1);
            },
        },
    });
</script>

<style>
    *{
        margin-right: 2%;
        margin-left: 2%;
    }

    h1,h3,footer{   
        text-align: center;
        margin: 2%;
    }

    h1,h3,h5{
        font-weight: bold;
    }

    footer{
        margin-top: 80px;
    }

    .card-deck{
        margin-top: 5%;
    }

    .card{
        background-color: rgba(228, 241, 252, 0.678);
    }
    button{
        margin: 0 auto;
        margin-top: 5%;
    }
</style>
</html>